* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    background: linear-gradient(172deg, rgba(194, 255, 172, 1) 0%, rgba(20, 255, 248, 1) 100%);
    font-family: sans-serif;
    font-size: 14px;
}
header, footer,
.settings-input {
    height: 42px;
    text-align: center;
}
header span {
    display: inline;
    font-weight: bold;
    font-size: 1rem;
}
h1 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 16px;
}
input {
    width: 56px;
    height: 26px;
    text-align: center;
    outline: none;
    border: 1px solid #000000;
}
.settings-input span {
    margin-top: 8px;
    padding-right: 10px;
    font-size: 1.1rem;
}
.settings-input {
    padding-top: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
}
.main {
    height: calc(100vh - 42px * 3);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container {
    width: 100%;
    display: flex;
    gap: 40px 40px;
    align-items: start;
    justify-content: space-around;
    height: 28px;
}
.wrapper {
    height: auto;
}
span {
    text-align: center;
    font-size: 1.1rem;
    display: block;
    padding-bottom: 10px;
    transition: height 0.5s ease-in, transform 0.5s ease-in-out;
}
.list-container {
    width: 120px;
    border: 1px solid #000000;
    position: relative;
    background-color: #FFFFFF;
}

.custom-ranges-0.list-container,
.custom-ranges-1.list-container,
.custom-ranges-2.list-container,
.custom-ranges-3.list-container,
.custom-ranges-4.list-container,
.custom-ranges-5.list-container,
.custom-ranges-6.list-container,
.custom-ranges-7.list-container,
.custom-ranges-8.list-container,
.custom-ranges-9.list-container {
    height: calc(28px * 10);
    overflow: hidden;
}
.custom-ranges-0 {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-ranges-1 {
    transform: translateY(calc(-28px));
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-ranges-2 {
    transform: translateY(calc(-28px * 2));
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-ranges-3 {
    transform: translateY(calc(-28px * 3));
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-ranges-4 {
    transform: translateY(calc(-28px * 4));
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-ranges-5 {
    transform: translateY(calc(-28px * 5));
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-ranges-6 {
    transform: translateY(calc(-28px * 6));
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-ranges-7 {
    transform: translateY(calc(-28px * 7));
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-ranges-8 {
    transform: translateY(calc(-28px * 8));
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-ranges-9 {
    transform: translateY(calc(-28px * 9));
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-sizes-0.list-container,
.custom-sizes-1.list-container,
.custom-sizes-2.list-container {
    overflow: hidden;
    height: calc(28px * 3);
}
.custom-sizes-0 {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-sizes-1 {
    transform: translateY(-28px);
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.custom-sizes-2 {
    transform: translateY(calc(-28px * 2));
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}
.size3x6.list-container {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: calc(28px * 10);
}
.size3x6 {
    transform: translateY(calc(-28px * 3));
    transition: height 0.5s ease-in, transform 0.5s ease-in-out;
}
.size3x3.list-container {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: calc(28px * 7);

}
.size3x3 {
    transform: translateY(calc(-28px * 3));
    transition: height 0.5s ease-in, transform 0.5s ease-in-out;
}
.size0x6.list-container {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: calc(28px * 7);
    transition: height 0.5s ease-in;
}
.size0x6 {

}
.custom-sizes-0 .selected,
.custom-sizes-1 .selected,
.custom-sizes-2 .selected,
.custom-ranges-0 .selected,
.custom-ranges-1 .selected,
.custom-ranges-2 .selected,
.custom-ranges-3 .selected,
.custom-ranges-4 .selected,
.custom-ranges-5 .selected,
.custom-ranges-6 .selected,
.custom-ranges-7 .selected,
.custom-ranges-8 .selected,
.custom-ranges-9 .selected,
.custom-sizes .selected,
.custom-ranges .selected,
.size3x6 .selected,
.size0x6 .selected,
.size3x3 .selected {
    background-color: gainsboro;
}
.default-size {
    height: 28px;
    overflow: hidden;
    position: relative;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out, height 0.5s ease-in;
}

li {
    height: 28px;
    width: 120px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
li:active {
    font-size: .85rem;
    transition: font-size .5s ease;
}
li:hover {
    background-color: #eee;
}
ul {
    position: absolute;
}
.before {
    color: grey;
}
.footer {
    padding-top: 15px;
    font-size: .75rem;
}
.credits {
    text-align: center;
    color: rgba(28, 27, 27, 0.65);
}
.link{
    color: #000000;
    text-decoration: none;
    font-style: italic;
}

